
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.app{
  width: 100vw;
  min-height: 100vh;
  background-color: #ced8ff;
  transition: 0.5s;
}
.app.dark{
  background-color: #1e1e1e;
}
.app.light{
  background-color: #ced8ff;
}